.pagination {
    text-align: center;
    width: 170px;
    margin: 0 auto;
    &:hover span {
        border: 1px solid transparent;
    }
    .page {
        width: 40px;
        height: 50px;
        border: 1px solid transparent;
        transition: $main-transition;
        font-size: 18px;
        line-height: 50px;
        margin-left: 25px;
        display: inline-block;
        cursor: pointer;
        &:nth-child(1) {
            margin-left: 0;
        }
        &:hover {
            border: $alt-border;
            opacity: 0.5;
        }
    }
    .pageBorder {
        border: $alt-border;
    }
}