#formStepsSection {
    height: 1062px;
    position: relative;
    .important {
        display: block;
        margin-top: 48px;
        font-size: 36px;
        font-weight: 600;
        line-height: 46px;
        color: #000;
    }
    .btn {
        width: 180px;
        height: 79px;
        border: $main-border;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #000;
        position: absolute;
        bottom: 50px;
        margin-right: 50px;
        &:nth-last-child(2) + .btn{
            left: 410px;
        }
        &:hover {
            opacity: 0.5;
        }
    }
}
