header{
    width: 100vw;
    height: 93.86vh;
    background: url(../assets/images/Home-Hero-Image.jpg) -25.42% 0 no-repeat;
    background-size: 46.6% 93.86%;  
    .container{
            // justify-content: flex-end;
          nav{
            display: flex;
            justify-content: flex-end;    
            div{  
                height: 7.34rem;
                width:  50.7rem;
                margin-top: 2.86rem;
              .user{
                  display: flex;
                  justify-content: flex-end;
                  list-style-type: none;
                  li{
                      padding: 0.7rem 1.3rem;
                     // font: Regular 13px/79px Open Sans;
                      font-size: 1rem;
                      //line-height: 6.07rem;
                      letter-spacing: 0;
                      transition: border 0.3s ease-out;
                      &:hover{
                        opacity: 0.75;      
                        border: 0.1rem solid #FAD648;                     
                    }
                    a{
                        text-decoration: none;
                        color: #737373;
                    }
                     
                  }
              }
              .menu{
                  display: flex;
                  justify-content: flex-end;
                  margin-top: 1.5rem;
                  //height: 3.24rem;
                  li{ 
                      list-style-type: none;
                      padding: 0.7rem 1.64rem;
                      transition: border 0.3s ease-out;
                      font-size: 1.4rem;
                      color: #3C3C3C;
                      cursor: pointer;
                     // display: block;
                     &:hover{
                         opacity: 0.75;           
                         border: 0.05rem solid #3C3C3C                        
                     }
                  }                
              }
            }       
    }
    }
    //position: relative;
    // img{
    //     width: 46.6%;
    //     height: 93.86%;
    //   //  position: absolute;
    // }
    .intro{
        display: flex;
        justify-content: flex-end;
        .begin{
            height: 27rem;
            width: 58.6rem;
            margin-right: 9rem;
            margin-top: 16.2rem;
            position: relative;
              p{
                  height: 8.25rem;
                  &::first-line {
                      text-align: center;
                    }  
                  font-size: 3.40rem; 
                  letter-spacing: -0.058rem; 
                  line-height: 4.21rem;   
                  color: #3C3C3C;  
              }
              span{
              display: block;    
              width: 17.58rem;
              height: 2.53rem;
              opacity: 1;
              background-image: url(../assets/images/Decoration.svg);
              background-size: contain;
              position: absolute;
              left: 32%;
              margin-top: 1.93rem;
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            margin-top: 8.7rem;
            button{
                height: 9.26rem;
                width: 26.85rem;
                display: block;
                padding: 0.3rem 4rem; 
                font-family: "Light";
                font-size: 3.2rem;
                transition: border 0.3s ease-out;
               // font: Light 36px/45px Open Sans;
                
                cursor: pointer;
               // transition: border 0.05rem solid #3C3C3C 3s;
               background-color: #ffffff;
               &:hover{
                opacity: 0.75;           
                border: 0.05rem solid #3C3C3C                        
            }
            a{
                text-decoration: none;
                color: #3C3C3C;
            }
            }
        }
      }
    }
}