#aboutUs {
  height: 935px;
  margin-top: 80px;
  background-color: $back-grey;
  border: 1px solid transparent;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url("../assets/images/People.webp");
    z-index: 1;
  }
  .aboutUsContent {
    margin: 186px 0;
    width: 660px;
    position: relative;
    .aboutUsText {
      margin-top: 55px;
      font-size: 30px;
      line-height: 54px;
      letter-spacing: -0.6px;
      color: $main-color;
      text-align: center;
    }
    .signature {
      margin-top: 40px;
      position: absolute;
      right: 0;
    }
  }
}
