.cta {
    font-family: inherit;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    border: $main-border;
    transition: $main-transition;
    cursor: pointer;
    background-color: #fff;
    color: $main-color;
    height: 120px;
    width: 310px;
    text-align: center;
    &:hover {
        opacity: 0.5;
    }
}
