.decor_title {
    text-align: center;
    font-size: 38px;
    letter-spacing: -0.76px;
    line-height: 55px;
    color: $main-color;
}
.decor_img {
    width: 255px;
    height: 33px;
    display: block;
    margin: 0 auto;
}
