#toHelp {
    height: 64.6rem;
    margin-top: 5rem;
    .container-help {
        width: 92.8rem;
        margin: 0 auto;
        .headerFoot {
            margin: 0 auto;
            height: 7.86rem;
            width: 30.9rem;
            position: relative;
            p {
                color: $color5;
                font-family: $font-base;
                font-size: 2.6rem;
                letter-spacing: -0.058rem;
                opacity: 1;
                text-align: center;
                line-height: 4.21rem;
                height: 3.98rem;
                margin: 0 auto;
            }
            .main_dec {
                position: absolute;
                bottom: 0%;
                left: 22%;
                display: block;
                width: 17.58rem;
                height: 2.53rem;
                opacity: 1;
                background-image: url(../assets/images/Decoration.svg);
                background-size: contain;
            }
        }
        .whomSure {
            height: 5.65rem;
            width: 51.8rem;
            margin: 0 auto;
            margin-top: 3rem;
            display: flex;
            justify-content: space-between;
            button {
                transition: border 0.3s ease-out;
                width: 14.2rem;
                padding: 1rem 2rem;
                text-align: center;
                font-size: 1.6rem;
                color: $color5;
                cursor: pointer;
                background-color: #FFF;
                border: 0.075rem solid transparent;
                outline: none;
                &:hover {
                    opacity: 0.75;
                    border: 0.075rem solid $color5;
                }
            }
        }
        .helpInfo {
            height: 42.5rem;
            margin-top: 3rem;
            .briefInfo {
                height: 6.7rem;
                width: 44.2rem;
                margin: 0 auto;
                text-align: center;
                font-size: 1.4rem;
                color: $color5;
            }
            .foundation {
                margin-top: 4.73rem;
                height: 5.8rem;
                display: flex;
                justify-content: space-between;
                border-bottom: 0.075rem solid $color5;
                .nameFoundation {
                    font-family: "Light", "Merriweather";
                    font-size: 1.7rem;
                    color: $color5;
                }
                .aimFoundation {
                    font-family: "Light", "Italic", "Merriweather";
                    font-size: 1.3rem;
                    color: $color5;
                }
                .itmesForFoundation {
                    margin-top: 1.2rem;
                    margin-right: 1rem;
                    font-size: 1.3rem;
                    font-family: "Light", "Merriweather";
                    color: $color5;
                }
            }
            .pagination {
                margin-top: 3rem;
                text-align: center;
                .page {
                    border: 1px solid transparent;
                    transition: border 0.3s ease-out;
                    font-size: 1.3rem;
                    padding: 0.8rem 1.5rem;
                    display: inline-block;
                    color: $color5;
                    cursor: pointer;
                    &:hover {
                        border: 1px solid $color4;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
