footer {
    height: 100vh;
    background: url("../assets/images/Background-Contact-Form.jpg") #ffffffc9 0% 0% no-repeat;
    background-size: cover;
    .container-opacity {
        background: rgba($color: #FFF, $alpha: 0.8);
        width: 100%;
        height: 100%;
    }
}
.container-general {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    .copyright {
        width: 60.83%;
        margin-left: 47rem;
        margin-top: 20rem;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 1.23rem;
            line-height: 1.64rem;
            color: $color5;
            display: flex;
            align-items: flex-end;
        }
    }
    .headerFoot {
        margin: 0 auto;
        height: 7.52rem;
        width: 24.88rem;
        position: relative;
        .contactTitle {
            color: $color5;
            font-family: $font-base;
            font-size: 2.6rem;
            letter-spacing: -0.058rem;
            display: inline-block;
            line-height: 4.21rem;
            height: 3.98rem;
        }
        .main_dec {
            position: absolute;
            bottom: 0%;
            left: 15%;
            display: block;
            width: 17.58rem;
            height: 2.53rem;
            background-image: url(../assets/images/Decoration.svg);
            background-size: contain;
        }
    }
    form {
        position: relative;
        width: 36.69rem;
        height: 36.2rem;
        display: inline-block;
        margin-left: 83.31rem;
        margin-top: 12rem;
        ::placeholder {
            color: #3c3c3c26;
        }
        .sameLabel {
            margin-top: 5rem;
            position: relative;
            label {
                text-align: left;
                font-size: 1.1rem;
                line-height: 2.47rem;
                font-family: "Semibold";
                color: $color5;
                display: inline-block;
            }
            input {
                font-size: 1.23rem;
                line-height: 2rem;
                text-align: left;
                display: block;
                border: none;
                border-bottom: 1px solid $color4;
                outline: none;
            }
            p {
                position: absolute;
                left: 0rem;
            }
        }
        .group_nick {
            height: 4.43rem;
            width: 17.79rem;
            display: inline-block;
        }
        .email {
            margin-left: 1.1rem;
        }
        .group_text {
            margin-top: 3rem;
            width: 100%;
            textarea {
                height: 6.92rem;
                width: 100%;
                text-align: left;
                font-size: 1.23rem;
                line-height: 1.91rem;
                display: block;
                border: none;
                resize: none;
                border-bottom: 0.1rem solid $color4;
                outline: none;
            }
        }
        .sendMessage {
            background-color: #FFF;
            border: 0.75px solid $color5;
            position: absolute;
            font-family: "Light";
            font-size: 1.23rem;
            line-height: 2.187rem;
            letter-spacing: 0;
            color: #000000;
            opacity: 1;
            bottom: 0rem;
            margin-left: 26.1rem;
            padding: 0.928rem 3.61rem;
            outline: none;
            transition: 0.3s ease-out;
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}
.validateSucess {
    position: absolute;
    color: #4caf50;
    width: 17rem;
    left: 9.8rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
