main {
    height: 831px;
    position: relative;
    border: 1px solid transparent;
    .container {
        &:before {
            content: "";
            background: url(../assets/images/Home-Hero-Image.jpg);
            position: absolute;
            height: 963px;
            width: 1368px;
            left: -483px;
            right: 0;
            top: -132px;
        }
        .main_content {
            margin-left: 788px;
            margin-top: 210px;
            .buttons {
                display: flex;
                justify-content: space-between;
                margin-top: 65px;
            }
        }
    }
}
