@media (max-width: 1650px) {
    .container {
        width: 1200px;
    }
    #firstView .container {
        &:before {
            width: 968px;
        }
    }
    #aboutUs {
        &:before {
            background-position: 40%;
        }
        .aboutUsContent {
            width: 580px;
        }
    }
    #whomHelp .container {
        width: 1044px;
    }
    #userDonateFirstView .container:before {
        width: 815px;
        background-position: right;
    }
}

@media (max-width: 1250px) {
    .container {
        width: 800px;
    }
    .steps4_wrapper {
        height: 824px;
        &::before {
            height: 525px;
        }
        .container {
            width: 700px;
            .steps4_allSteps {
                flex-wrap: wrap;
                justify-content: center;
                height: 525px;
                .one_step {
                    margin: 40px;
                }
            }
        }
    }
    #aboutUs {
        &:before {
            width: 100%;
            height: 38%;
            bottom: 0;
        }
        .aboutUsContent {
            width: 680px;
            margin: 0 auto;
        }
    }
    #whomHelp .container {
        width: 744px;
    }
    footer .container {
        align-items: flex-start;
        .copyright {
            left: 50%;
            margin-left: -100px;
            right: unset;
        }
    }
    #userDonateFirstView .container:before {
        width: 415px;
    }
    #formStepsSection .stepFour .customBox_wrapper:first-child {
        margin-right: 0;
    }
}
@media (max-width: 850px) {
    .container {
        width: 500px;
    }
    .cta {
        width: 240px;
    }
    header .container nav {
        svg {
            height: 50px;
            width: 50px !important;
            margin-top: 10px;
        }
        .barsMenu {
            background-color: #fff;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            z-index: 1;
        }
    }
    #firstView .container .firstView_content {
        margin-top: 50px;
    }
    .three_col {
        height: 750px;
        .three_colStatistics {
            flex-wrap: wrap;
            justify-content: space-around;
            .one_col {
                width: 204px;
                height: 372px;
                margin: 0;
            }
        }
    }
    .steps4_wrapper {
        .container {
            width: 500px;
        }
    }
    #aboutUs {
        &:before {
            width: 100%;
            height: 35%;
            bottom: 0;
            background-position: bottom;
        }
        .aboutUsContent {
            width: 500px;
            margin: 0 auto;
            .signature {
                margin-top: 0;
            }
        }
    }
    #whomHelp .container {
        width: 500px;
        .btnsWhomHelp {
            height: 250px;
            width: 500px;
            flex-direction: column;
            button {
                padding: 20px 42px;
            }
        }
        .mainInfo {
            margin-top: 20px;
            .introText {
                width: 500px;
                height: 115px;
            }
            .typeHelp {
                height: 150px;
            }
        }
    }
    .formContact {
        width: 428px;
        height: 650px;
        margin-top: 100px;
        .private_data {
            display: block;
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    #userDonateFirstView {
        height: 773px;
        .container:before {
            width: 315px;
            height: 250px;
            top: -135px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .nav_user li:nth-last-child(3) {
            top: -30px;
            margin-left: -75px;
            left: 50%;
        }
        .kickSquares {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .importantInfo {
        height: 250px;
        &:before {
            height: 250px;
        }
    }
    #formStepsSection {
        max-height: 1462px;
        &::before {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
                url(/static/media/Background-Form.e42e810a.webp);
            top: 250px;
            background-position: 88%;
            height: 1162px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .formSteps {
            height: 1162px;
            .dd-wrapper {
                width: 300px;
                .dd-desc {
                    margin-top: 50px;
                }
                .dd-list {
                    top: unset;
                    bottom: -175px;
                }
            }
            .stepOne_wrapper {
                .customBoxList_wrapper .oneBox {
                    position: relative;
                    input {
                        position: absolute;
                        left: -99999px;
                    }
                    label {
                        position: unset;
                        display: inline-block;
                        &:before {
                            left: 0;
                            top: 50%;
                            margin-top: -20px;
                        }
                    }
                }
            }
            .stepThree .customBox_wrapper {
                &:last-child {
                    input {
                        width: 500px;
                        position: unset;
                    }
                }
                .customBoxList_wrapper {
                    align-items: center;
                    width: 500px;
                    li {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    #formStepsSection .stepThreeFour .important,
    #formStepsSection .sum .important {
        margin-top: 10px;
    }
    .accountUser .container .formAccountUser {
        width: 500px;
    }
}

@media (max-width: 550px) {
    .container {
        width: 350px;
    }
    #firstView .container {
        &::before {
            background-size: 100%;
            height: 263px;
            width: 100%;
            top: unset;
            left: 0;
            bottom: 0;
        }
        .firstView_content .buttons {
            margin-top: 0;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 300px;
        }
    }
    .three_col {
        height: 1100px;
    }
    .steps4_wrapper {
        height: 1354px;
        &::before {
            height: 1025px;
            top: 200px;
        }
        .container {
            width: 350px;
            .steps4_allSteps {
                height: 1025px;
            }
        }
    }
    #aboutUs {
        height: 1150px;
        .decor {
            margin-top: 50px;
        }
        .aboutUsContent {
            width: 350px;
        }
    }
    #whomHelp .container {
        width: 350px;
        .btnsWhomHelp {
            width: 350px;
        }
        .mainInfo {
            .introText {
                width: 350px;
            }
            .typeHelp {
                height: 200px;
            }
        }
    }
    .formContact {
        width: 350px;
    }
    footer .container .copyright {
        left: 0;
        margin-left: 0;
    }
    .accountUser .container .formAccountUser {
        width: 350px;
        .data-user {
            width: 350px;
        }
    }
    #userDonateFirstView {
        height: 973px;
        .container:before {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
                url(/static/media/Form-Hero-Image.a660e2de.webp);
            width: 350px;
            height: 900px;
            top: -135px;
            background-size: 100% 100%;
        }
    }
    #formStepsSection {
        .important {
            margin-top: 0;
        }
        .stepFour .customBox_wrapper {
            width: 350px;
            .customBoxList_wrapper .oneBox input,
            .customBoxList_wrapper .oneBox textarea {
                width: 200px;
            }
        }
        .formSteps {
            .form_stepNum {
                margin-bottom: 0;
            }
            .stepThree {
                .customBox_wrapper {
                    &:last-child {
                        input {
                            width: 350px;
                        }
                    }
                    .customBoxList_wrapper {
                        width: 350px;
                    }
                }
            }
            .btn {
                left: 50%;
                margin-left: -90px;
                &:nth-last-child(2) ~ .btn {
                    left: 50%;
                    bottom: 150px;
                }
            }
            .sum .whatGive {
                margin-top: 0;
            }
        }
    }
    .stepSectionSmall .decor {
        width: 350px;
    }
}
